<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Task Management System</h1>
    <p>
      This is the home page for the Task Management System. 
    <br></br>
    <%= link_to 'Users', users_path %>  <br />
    <%= link_to 'Groups', groups_path %>
    </p>
  </body>
</html>
